<h1>Editing Bulk Employee File</h1>

<%= render 'form', bulk_employee_upload: @bulk_employee_upload %>

<%= link_to 'Show', @bulk_employee_upload %> |
<%= link_to 'Back', bulk_employee_uploads_path %>
